{% extends "base.html "%}
{% block app_title %}
<title>게시물 수정</title>
{% endblock %}
{% block content %}
    <form action="/update/{{ post.id }}/" id="post-update" method="post">
        {% csrf_token %}
        <input type="text" name="title" id="title" value="{{ post.title }}">
        <input type="number" name="price" id="price" min="0" step="100" value="{{ post.price }}"><label for="price">원</label>
        <br>
        이미지 선택 : <input type="file" name="image"/>
        <br>
        <img src="{{ post.image.url }}" alt="">
        <br>
        <input type="submit" value="게시">
    </form>
    <textarea name="content" form="post-update" cols="30" rows="10" id="content">{{ post.content }}</textarea>
{% endblock %}