{% extends "base.html" %}
{% block app_title %}
<title>포켓마켓_로그인</title>
{% endblock %}
{% block content %}
<h2>로그인</h2>
{% if error %}
    <script>
        const message = "{{ error }}"
        window.alert(message)
    </script>
{% endif %}
<form method="post" action="{% url 'accounts:login' %}">
    {% csrf_token %}
    <input type="text" name="username" placeholder="아이디">
    <input type="password" name="password" placeholder="비밀번호">
    <input type="submit" value="로그인">
</form>
{% endblock %}